<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LINKME</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/estilo.css" rel="stylesheet">
</head>

<body>
    <section>
        <!-- Menu de navegacinon-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">LINKME</a> 
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Marketing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Carrusel de imagenes-->
    <section>
        <div class="carousel slide" data-ride="carousel" id="carouselScroll">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carouselScroll"></li>
                <li data-slide-to="1" data-target="#carouselScroll"></li>
                <li data-slide-to="2" data-target="#carouselScroll"></li>
                <li data-slide-to="3" data-target="#carouselScroll"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img alt="First slide" class="d-block w-100" src="../shared/img5.gif">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Linkme</h5>
                        <p>Digital Experiences</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="Second slide" class="d-block w-100" src="../shared/img7.gif">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Linkme</h5>
                        <p>Digital Experiences</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="Third slide" class="d-block w-100" src="../shared/img6.gif">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Linkme</h5>
                        <p>Digital Experiences</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="Third slide" class="d-block w-100" src="../shared/img4.gif">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Linkme</h5>
                        <p>Digital Experiences</p>
                    </div>
                </div>
            </div><a class="carousel-control-prev" data-slide="prev" href="#carouselScroll" role="button"><span aria-hidden="true" class=



			"carousel-control-prev-icon"></span></a><a class="carousel-control-next" data-slide="next" href="#carouselScroll" role="button"><span aria-hidden="true"



			class="carousel-control-next-icon"></span></a>
        </div>
    </section>
    <!-- About us-->
    <section>
        <div class="container-about">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img alt="img" class="img-fluid" src="../shared/img1.jpg">
                </div>
                <div class="col-md-6">
                    <h1 class='lineUp'>ABOUT US</h1>
                    <p>Strategy is the heart of our agency, and the key to understanding customers and growing your business. We work closely with brands to harness the power of date and create powerful experiences that fast-track digital marketing transformation
                        and nurture entangled relationships between customers and brands.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- mission-->
    <section>
        <div class="container-mission">
            <section class="mission">
                <svg class="wave" height="150" preserveaspectratio="none" viewbox="0 0 1000 150" width="100%">
                    <path d="M0 30 C 150 60, 350 60, 500 30 C 650 0, 750 0, 1000 30 L 1000 150 L 0 150 Z" fill="url(#gradient)"></path>
                    <defs>
                        <lineargradient id="gradient" x1="0%" x2="100%" y1="0%" y2="0%">
                            <stop offset="0%" style="stop-color:#0acffe;stop-opacity:1"></stop>
                            <stop offset="50%" style="stop-color:#0d6efd;stop-opacity:1"></stop>
                            <stop offset="100%" style="stop-color:#495aff;stop-opacity:1"></stop>
                        </lineargradient>
                    </defs>
                </svg>
                <h1 class='lineUp'>Mission</h1>
                <p>We translate business objectives into powerful customer-centric digital solutions by leveraging research, data, and insights</p>
                <div class="icon-row">
                    <div class="icon">
                        <img alt="" src="../shared/icon1.png">
                        <p>Quality software</p>
                    </div>
                    <div class="icon">
                        <img alt="" src="../shared/icon2.png">
                        <p>Reliability and seriousness</p>
                    </div>
                    <div class="icon">
                        <img alt="" src="../shared/icon3.png">
                        <p>The best market price</p>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- servicios-->
    <section class="container-services">
        <h1 class="text-center">Services</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img alt="Imagen de UI/UX Design" class="card-img-top" src="../shared/icon4.png">
                    <div class="card-body">
                        <h4 class="card-title">Custom Development</h4>
                        <p class="card-text">Superior productivity, performance, and growth require best-in-class resources and tools. Custom software development is often used for companies with unique business processes that aren’t easily mapped to specific technology products.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img alt="Imagen de UI/UX Design" class="card-img-top" src="../shared/icon5.png">
                    <div class="card-body">
                        <h4 class="card-title">Software Product</h4>
                        <p class="card-text">We accelerate product-to-market for enterprise clients through dedicated product teams, user experience, and software engineering expertise. Whether you need a web app or a mobile app, we create a breathtaking user experience designed
                            to function on any platform or mobile device.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img alt="Imagen de UI/UX Design" class="card-img-top" src="../shared/icon6.png">
                    <div class="card-body">
                        <h4 class="card-title">Solution Architecture</h4>
                        <p class="card-text">Our team of solution architects connects your business goals with technical requirements to provide you with an elegant solution designed for today and scalable for the future.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img alt="Imagen de UI/UX Design" class="card-img-top" src="../shared/icon7.png">
                    <div class="card-body">
                        <h4 class="card-title">Web & Mobile Apps</h4>
                        <p class="card-text">Take advantage of proven frameworks and engineering best practices to ensure your web and mobile applications are responsive, highly performant, and easily adaptable to meet the changing needs of your users.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img alt="Imagen de UI/UX Design" class="card-img-top" src="../shared/icon8.png">
                    <div class="card-body">
                        <h4 class="card-title">UI/UX Design</h4>
                        <p class="card-text">Our experienced team of designers creates custom, visually stunning user interfaces that are intuitive and engaging. We specialize in creating designs that are both beautiful and functional, ensuring that your users have an exceptional
                            experience with your product.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img alt="Imagen de UI/UX Design" class="card-img-top" src="../shared/icon9.png">
                    <div class="card-body">
                        <h4 class="card-title">Cloud Services</h4>
                        <p class="card-text">We offer a range of cloud services to help your business operate more efficiently, including cloud hosting, cloud migration, and cloud management. Our team of experts will work with you to develop a customized cloud strategy that
                            meets your unique business needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-->
    <div class="container-language">
        <section class="image-gallery">
            <h1 class='lineUp'>We speak your language</h1>
            <div class="image-gallery-row">
                <img alt="" class="image-gallery-item" src="../shared/logo-node.png">
                <img alt="" class="image-gallery-item" src="../shared/logo-angular.png">
                <img alt="" class="image-gallery-item" src="../shared/logo-java.png">
            </div>
            <div class="image-gallery-row">
                <img alt="" class="image-gallery-item" src="../shared/logo-net.png">
                <img alt="" class="image-gallery-item" src="../shared/logo-python.png">
                <img alt="" class="image-gallery-item" src="../shared/logo-react.png">
            </div>
        </section>
    </div>
    <section>
        <!-- marketing-->
        <div class="titulos">
            <h1 class='lineUp'>Marketing</h1>
        </div>
        <div class="card-container">
            <div class="cards">
                <p>Social Media Management</p>
                <img alt="" src="../shared/redes.png">
            </div>
            <div class="cards">
                <p>E-commerce Wordpress Websites</p>
                <img alt="" src="../shared/wordpress.gif">
            </div>
            <div class="cards">
                <p>Google Analytics</p>
                <img alt="" src="../shared/google.png">
            </div>
            <div class="cards">
                <p>Email MarketingManagement</p>
                <img alt="" src="../shared/email.png">
            </div>
            <div class="cards">
                <p>Digital Campaigns</p>
                <img alt="" src="../shared/digital.png">
            </div>
            <div class="cards">
                <p>HostingServices</p>
                <img alt="" src="../shared/hosting.png">
            </div>
        </div>
    </section>
    <section>
        <!-- Cities-->
        <div class="titulos">
            <h1 class="lineUp">Cities we work in</h1>
        </div>
    </section>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193591.36821872703!2d-74.11808649990205!3d40.70563145350757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25c111fcfd91f%3A0x52d3cb3c7fd4aae1!2sNew%20York%2C%20Estados%20Unidos!5e0!3m2!1ses!2sve!4v1658878478048!5m2!1ses!2sve"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <section>
        <div class="titulos">
            <h1 class="lineUp">Contac us</h1>
        </div>
    </section>
    <section>
        <!-- contac us-->
        <div class="container-contacus">
            <div class="image-container">
                <img src="../shared/contac.png" alt="Placeholder image">
            </div>
            <div class="form-container">
                <form method="POST" action="enviar.php">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" required>
                    <label for="correo">Correo electrónico:</label>
                    <input type="email" name="correo" id="correo" required>
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" name="telefono" id="telefono" required>
                    <label for="mensaje">Mensaje:</label>
                    <textarea name="mensaje" id="mensaje" rows="5" required></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </section>
    <!-- piede pagina-->
    <footer>
        <div class="container">
            <div class="column">
                <h3>Contacto</h3>
                <p>Teléfono: 123-456-7890</p>
                <p>Correo electrónico: Linkme@gmail.com</p>
            </div>
            <div class="column">
                <h3>Síguenos</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="creditos">
            <p>&copy; 2023 - LINKME - Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- Lbrerias-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
</body>

</html>