<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LINKME</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="../styles/estilo.css" rel="stylesheet">
</head>
<body>
	<section>
	<!-- Menu de navegacinon-->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">LINKME</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Mission</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Cities</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="#">Marketing</a>
					
					</li>
				</ul>
			</div>
		</div>
	</nav>
</section>
	<!-- Carrusel de imagenes-->
	<section>
	<div class="carousel slide" data-ride="carousel" id="carouselScroll"> 
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#carouselScroll"></li>
			<li data-slide-to="1" data-target="#carouselScroll"></li>
			<li data-slide-to="2" data-target="#carouselScroll"></li>
			<li data-slide-to="3" data-target="#carouselScroll"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img alt="First slide" class="d-block w-100" src="../shared/img5.gif">
				<div class="carousel-caption d-none d-md-block">
					<h5>Linkme</h5>
					<p>Digital Experiences</p>
				</div>
			</div>
			<div class="carousel-item">
				<img alt="Second slide" class="d-block w-100" src="../shared/img7.gif">
				<div class="carousel-caption d-none d-md-block">
					<h5>Linkme</h5>
					<p>Digital Experiences</p>
				</div>
			</div>
			<div class="carousel-item">
				<img alt="Third slide" class="d-block w-100" src="../shared/img6.gif">
				<div class="carousel-caption d-none d-md-block">
					<h5>Linkme</h5>
					<p>Digital Experiences</p>
				</div>
			</div>
			
			<div class="carousel-item">
				<img alt="Third slide" class="d-block w-100" src="../shared/img4.gif">
				<div class="carousel-caption d-none d-md-block">
					<h5>Linkme</h5>
					<p>Digital Experiences</p>
				</div>
			</div>
		</div><a class="carousel-control-prev" data-slide="prev" href="#carouselScroll" role="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span></a><a class="carousel-control-next" data-slide="next" href="#carouselScroll" role="button"><span aria-hidden="true" class="carousel-control-next-icon"></span></a>
	</div>
</section>
<section>
	<div class="row align-items-center">
		<div class="col-md-6">
		  <img src="../shared/img1.jpg" class="img-fluid" alt="img">
		</div>
		<div class="col-md-6">
			<h2 class='lineUp'>ABOUT US</h2>
			<p>Strategy is the heart of our agency, and the key to understanding customers and growing your business. We work closely with brands to harness the power of date and create powerful experiences that fast-track digital marketing transformation and nurture entangled relationships between customers and brands.</p>
		</div>
	  </div>
</section>
	<!-- Lbrerias-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
	</script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
	</script> 
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
	</script>
</body>
</html>
