.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-caption {
	bottom: 270px;
}
.carousel-caption h5 {
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 0;
  	overflow: hidden;
  	white-space: nowrap;
  	font-size: 2rem;
  	margin: 0 auto;
  	font-family: "Courier New";
  	border-right: 0.15em solid #18bdec;
  	animation: typing 2s steps(10) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes blink {
  20% {
    border-color: transparent;
  }
}
.carousel-caption p {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
 .aboutUs{
     background-color: rgb(193, 193, 245);
	 display: flex;
	 justify-content: center;
	 align-items: center;
	margin-top:  2%;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	}
.titulo{
	display: flex;
	justify-content: center;
	margin-top: 3%;
	
}
